<div><span class="label">Account Id:</span><input type="text" size="20" name="accountid" value="<%= session["accountid"] %>"></div>

<div><span class="label">&nbsp;</span><input type="submit" value="SUBMIT"></div>
