<%= render 'common_fields' %>
<div><span class="label">Promo Id:</span><input type="text" size="20" name="PromoId" value="<%= session["PromoId"] %>"></div>
<div><span class="label">&nbsp;</span><input type="submit" value="SUBMIT"></div>
