<%= render 'common_fields' %>
<div class="container">
	<div class="field-column">
		<span class="label">VAS Id:</span><input type="text" size="20" name="VAS_ID" value="<%= session["VAS_ID"] %>">
	</div>
	<div class="caption-column">
	<p>Parametro opzionale - valori possibili:</p>
	<ul>
		<li>lista da definire</li>
	</ul>
   </div>
</div>
<div>
	<span class="label">&nbsp;</span><input type="submit" value="SUBMIT">
</div>
