<%= render 'common_fields' %>
<div><span class="label">PromoID:</span><input type="text" size="20" name="PromoID" value="<%= session["PromoID"] %>"></div>
<div><span class="label">PI_ListID:</span><input type="text" size="20" name="PI_ListID" value="<%= session["PI_ListID"] %>"></div>
<div><span class="label">&nbsp;</span><input type="submit" value="SUBMIT"></div>
