<%= render 'common_fields' %>
<div><span class="label">MSISDN Target:</span><input type="text" size="20" name="MSISDNtoRIC" value="<%= session["MSISDNtoRIC"] %>"></div>
<div><span class="label">Taglio:</span><input type="text" size="20" name="size" value="<%= session["size"] %>"></div>
<div><span class="label">&nbsp;</span><input type="submit" value="SUBMIT"></div>
