<div><span class="label">RamVATCode:</span><input type="text" size="20" name="RamVATCode" value="<%= session["RamVATCode"] %>"></div>
<div><span class="label">ContractNumber:</span><input type="text" size="20" name="ContractNumber" value="<%= session["ContractNumber"] %>"></div>
<div><span class="label">I.P.:</span><input type="text" size="20" name="Remote_ip_address" value="<%= session["Remote_ip_address"] %>"></div>
<div><span class="label">&nbsp;</span><input type="submit" value="SUBMIT"></div>

