<%= render 'common_fields' %>
<div><span class="label">PIN:</span><input type="text" size="20" name="PIN" value="<%= session["PIN"] %>"></div>
<div><span class="label">DESTMSISDN:</span><input type="text" size="20" name="DESTMSISDN" value="<%= session["DESTMSISDN"] %>"></div>
<div><span class="label">&nbsp;</span><input type="submit" value="SUBMIT"></div>