<%= render 'common_fields' %>
<div><span class="label">SMS Text:</span><input type="text" size="20" name="Text" value="<%= session["Text"] %>"></div>
<div><span class="label">&nbsp;</span><input type="submit" value="SUBMIT"></div>
