<div><span class="label">Account Id:</span><input type="text" size="20" name="accountid" value="<%= session["accountid"] %>"></div>
<div><span class="label">I.P.:</span><input type="text" size="20" name="Remote_ip_address" value="<%= session["Remote_ip_address"] %>"></div>
<div><span class="label">&nbsp;</span><input type="submit" value="SUBMIT"></div>
